<div class="competition-list_competition">
    <span *ngIf="available === false" class="competition-list_competition-unavailable">Unavaliable</span>
    <span *ngIf="available === true" class="competition-list_competition-available">Available</span>

    <span class="competition-list_competition__name"
    [ngClass]="{
       red: available === false,
       green: available === true
    } 
    "
     (click) = "toggleGamesAreVisible()">{{competition.name}}</span> 
    <div class="matches-list" *ngIf="matches != undefinded && gamesAreVisible">
        <div class="matches-wraper" *ngFor="let m of matches.matches">
            ({{m.id}}) {{m.homeTeam.name}} - {{m.awayTeam.name}}
        </div>
        <div (click) = "toggleGamesAreVisible()" class="matches-list__close"> close</div>
    </div>
</div>