<div class="competition-list_competition">
    <span *ngIf="available === false" class="competition-list_competition-unavailable">Unavaliable</span>
    <span *ngIf="available === true" class="competition-list_competition-available">Available</span>
    
    <span class="competition-list_competition__name"
    [ngClass]="{
       red: available === false,
       green: available === true
    } 
    "
     (click) = "toggleGamesAreVisible()">{{competition.name}}</span> 
    <div class="games-list" *ngIf="moreAboutCompetition != undefinded && gamesAreVisible">
        <div class="id">ID: {{moreAboutCompetition.id}}</div>
        <div class="area">Area: {{moreAboutCompetition.area.name}}</div>
        
    </div>
</div>